/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* HEADER CONTAINER */
header {
    background-color: #b7a9d6;
    /* light purple */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border: 1px solid #555;
}

/* LOGO */
header img {
    width: 120px;
    height: auto;
}

/* NAV CONTAINER */
header nav ul {
    display: flex;
    list-style: none;
    gap: 0;
    /* no gaps between boxes */
    padding: 0;
    margin: 0;
}

/* NAV LINKS (BOX STYLE) */
header nav ul li a {
    display: block;
    padding: 10px 25px;
    background-color: #e6e6e6;
    color: #000;
    text-decoration: none;
    border: 1px solid #555;
    font-size: 14px;
}

header nav ul li:last-child a {
    border-right: 1px solid #555;
}

/* MAIN CONTAINER */
main {
    width: 85%;
    margin: 0 auto;
}

/* COMPANY INFO */
.company-info {
    text-align: center;
    margin: 20px 0;
}

.company-info h1 {
    margin-bottom: 10px;
}

/* MAP (LEFT) */
.map {
    flex: 1;
    width: 100%;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 10px;
}

.map iframe {
    width: 100%;
    height: 350px;
    border: none;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem 0;
}

form {
    width: 340px;
    padding: 1rem;
    border: 1px;
    border-radius: 0.2rem;
    background-color: #eee;
    display: grid;
    align-items: center;
    justify-content: center;
}

fieldset {
    border: 1px;
}

label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: center;

}

input,
select,
textarea {
    font-size: 1.1rem;
}

button {
    width: 160px;
    padding: 8px;
    border: 1px solid black;
    background-color: #eee;
    margin: 1rem;

}

/* EMPLOYEE SECTION */
.employees {
    border: 1px solid #999;
    margin: 3rem 0;
    padding: 1.5rem;
    text-align: center;
    border-radius: 8px;
    background-color: white;
}

.employees h2 {
    margin-bottom: 2rem;
    text-align: center;
}

.employee-profiles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employee-card {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-right: auto;
}

.employee card img {
    width: 20px;
}

.employee-card p {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
}

.employee-card .employee-title {
    font-weight: normal;
    font-size: 0.85rem;
    margin-top: 0.25rem;
    align-items: center;
}

/* FOOTER */
.footer {
    background-color: #b8a9d9;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia img {
    width: 30px;
}

.footer p {
    text-align: center;
    width: 100%;
}